@import 'varss';

.MyOrder{
    width:360px;
    padding: 24px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    background-color: var(--white);
    top: 60px;
    bottom: 0;
    border-radius: 6px;
    border: 1px solid var(--very-light-pink)
}
.title-container{
    display: flex;
}
.title-container img{
    transform: rotate(180deg);
    margin-right: 14px;
}
.title{
    font-size: var(--lg);
    font-weight: bold;
}

@media(max-width: 640px) {
    .MyOrder{
        width: 100%;
    }
}